In [1]:
class Student:
    def __init__(self, name, korean, math, english):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
    
    def get_sum(self):
        return self["korean"] + self["math"] + self["english"]
    
    def get_average(self):
        return Student.get_sum(self)/3
    
    def to_string(self):
        return "{} {} {}" .format(self["name"], Student.get_sum(self), Student.get_average(self))

In [2]:
students = [
    {
        "name" : "윤인성", "korean" : 87, "math" : 90, "english" : 88
    },
    {
        "name" : "연하진", "korean" : 92, "math" : 80, "english" : 78
    },
    {
        "name" : "구지연", "korean" : 57, "math" : 95, "english" : 98
    },
    {
        "name" : "나선주", "korean" : 81, "math" : 68, "english" : 88
    }
]

In [3]:
students[0]["name"]

'윤인성'

In [4]:
students[0]["korean"]

87

In [5]:
students[0]["math"]

90

In [6]:
students[0]["english"]

88

In [7]:
for object in students:
    print(object["name"])
    print(Student.get_sum(object))
    print(Student.get_average(object))
    print(Student.to_string(object))

윤인성
265
88.33333333333333
윤인성 265 88.33333333333333
연하진
250
83.33333333333333
연하진 250 83.33333333333333
구지연
250
83.33333333333333
구지연 250 83.33333333333333
나선주
237
79.0
나선주 237 79.0