In [1]:
students =[
    {
        "name": "윤인성", "korean" : 87, "math" : 90, "english" : 88
    },
    {
        "name" : "연하진", "korean" : 92, "math" : 80, "english" : 78
    },
    {
        "name" : "구지연", "korean" : 57, "math" : 95, "english" : 98
    },
    {
        "name" : "나선주", "korean" : 81, "math" : 68, "english" : 88
    }
]

In [2]:
print("이름", "총점", "평균", sep="\t")

이름	총점	평균

In [3]:
for student in students:
    score_sum = student["korean"]+student["math"]+student["english"]
    score_average = score_sum / 3
    print(student["name"], score_sum, score_average, sep="\t")

윤인성	265	88.33333333333333
연하진	250	83.33333333333333
구지연	250	83.33333333333333
나선주	237	79.0

In [4]:
def create_student(name, korean, math, english):
    return {
        "name" : name,
        "korean" : korean,
        "math" : math,
        "english" : english
    }

In [5]:
def student_get_sum(student):
    return student["korean"] + student["math"] + student["english"]

In [6]:
def student_get_average(student):
    return student_get_sum(student) / 3

In [7]:
def student_to_string(student):
    return "{} {} {}".format(student["name"], student_get_sum(student), student_get_average(student))

In [8]:
print("이름", "총점", "평균", sep="\t")

이름	총점	평균

In [9]:
student_to_string(students[0])

'윤인성 265 88.33333333333333'

In [10]:
for object in students:
    print(student_to_string(object))

윤인성 265 88.33333333333333
연하진 250 83.33333333333333
구지연 250 83.33333333333333
나선주 237 79.0